TestData/**/*.mzML -diff -merge -text
TestData/**/*.gz -diff -merge -text
TestData/**/*.mzXML -diff -merge -text
TestData/**/*.RAW -diff -merge -text
TestData/**/*.npz -diff -merge -text
TestData/**/*.bin -diff -merge -text
TestData/**/*.DAT -diff -merge -text
TestData/**/*.dat -diff -merge -text
TestData/**/*.IDX -diff -merge -text
TestData/**/*.cdt -diff -merge -text
TestData/**/*.ind -diff -merge -text
TestData/**/*.txt -diff -merge -text
TestData/**/*.csv -diff -merge -text
